@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
}

#image-box {
    position: relative;
    flex: 0 0 40vw;
    overflow: hidden;
}

#sliding-background {
    background: url("static/Cyberpunk2077_Crossroads_RGB.png");
    height: 100vh;
    width: calc(100vh * 2);

    animation: slide 120s linear infinite;
}

/* image background animation */
@keyframes slide {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: translate3d(calc(40vh * -2), 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

#image-banner {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
}

#odin-logo {
    height: 90%;
    max-width: 80%;
}

#form-box {
    flex: 0 0 60vw;
    display: flex;

    background-color: rgb(233, 178, 41);
    border-left: 4px solid rgba(0, 0, 0, 0.95);
}

#left-form {
    flex: 1 0 0;
    max-width: 1000px;
}

#greeting-message {
    box-sizing: border-box;
    margin-top: 20vh;
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.90);
    box-shadow: 10px 5px 5px rgb(192, 141, 12);

    font-family: 'Syne Mono', monospace;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow:clip;
    color: white;
    text-align: center;
}

#form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 200, 60);
    box-shadow: 10px 5px 5px rgb(192, 141, 12);
}

#button-box {
    width: 100%;
    height: 120px;
}

label, input {
    display: block;
}

label {
    font-family: 'Syne Mono', monospace;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.80);
    margin: 4px;
}

legend {
    font-family: 'Syne Mono', monospace;
    font-size: 2.3em;
    font-weight: bolder;
    color: rgba(15, 22, 27, 0.8);
    margin-top: 40px;
    text-align: center;
}


#now {
    color: rgb(240, 59, 14);
}

input {
    width: 90%;
    border: 1px solid rgb(233, 178, 41);
    border-radius: 10px;
    height: 25px;
    background-color: rgb(233, 178, 41);
    box-shadow: inset 5px 5px 5px rgb(192, 141, 12);

    font: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.80);

}

input:focus {
    outline: 0;
    background-color: aliceblue;
    box-shadow: inset 10px 5px 5px rgb(196, 196, 196);
}

::placeholder {
    color: rgb(192, 141, 12);
}

input:valid {
    background-color: rgb(233, 178, 41);
    border: 1px solid yellow;
}

input:valid:focus {
    background-color: aliceblue;
    border: 1px solid yellow;
}

input:not(:placeholder-shown):invalid{
    border: 1px solid red;
    background-image: url("static/hazard.svg");
    background-repeat: no-repeat;
    color: rgb(128, 14, 14);
}

fieldset { 
    /* removes the ungly default HTML border from the form*/
    border: 0px;
    width: 94%;
    display: flex;
    flex-wrap: wrap;
}

.form-field {
    width: 50%;
}

#button-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

#submit-button {
    width: 95%;
    height: 60px;
    border-radius: 20px;
    border: 2px solid rgb(255, 203, 72);
    background-color: rgba(0, 0, 0, 0.80);
    box-shadow: 5px 5px 5px rgb(192, 141, 12);

    font-family: 'Syne Mono', monospace;
    font-weight: bolder;
    color: white;
    font-size: 2em;
}

#submit-button:focus {
    background-color: rgb(128, 14, 14);
}

#submit-button:hover:not(:focus) {
    background-color: rgba(0, 0, 0, 0.85);
}

#sub-now {
    color: red;
}





