@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    display: flex;
}

#image-box {
    position: relative;
    flex: 0 0 40vw;
    overflow: hidden;
}

#sliding-background {
    background: url("static/Cyberpunk2077_Crossroads_RGB.png");
    height: 100vh;
    width: calc(100vh * 2);

    animation: slide 120s linear infinite;
}

/* image background animation */
@keyframes slide {
    0% {
        transform: translate3d(0,0,0);
    }
    50% {
        transform: translate3d(calc(40vh * -2), 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

#image-banner {
    position: absolute;
    top: 20vh;
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.8);
}

#odin-logo {
    height: 90%;
    max-width: 80%;
}

#form-box {
    flex: 0 0 60vw;
    display: flex;

    background-color: rgb(233, 178, 41);
    border-left: 4px solid rgba(0, 0, 0, 0.95);
}

#left-form {
    flex: 1 0 0;
    max-width: 1000px;
}

#greeting-message {
    box-sizing: border-box;
    margin-top: 20vh;
    width: 100%;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    background-color: rgba(0, 0, 0, 0.90);
    box-shadow: 10px 5px 5px rgb(192, 141, 12);

    font-family: 'Syne Mono', monospace;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow:clip;
    color: white;
}

#form-section {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 200, 60);
    box-shadow: 10px 5px 5px rgb(192, 141, 12);
}

#button-box {
    width: 100%;
    height: 120px;
}

